---
import Footer from "@/components/elements/footer";
import Navbar from "@/components/elements/navbar";
import { ClientRouter } from "astro:transitions";
import config from "../../../explainer.config";
import "../../assets/css/global.css";
import { useDocumentation } from "@/utils";
import * as astroContent from "astro:content";

const { title = config.seo.title } = Astro.props;

const { load, flattenDocs } = useDocumentation(astroContent);
const loaded = await load();
const docs = loaded.map((element) => {
  return {
    ...element,
    children: flattenDocs(element.children).filter((child) =>
      child.data.visibility.includes("navbar"),
    ),
  };
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={config.seo.description} />
    <meta name="image" content={config.seo.thumbnail} />

    <meta property="og:title" content={config.seo.title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:description" content={config.seo.description} />
    <meta property="og:image" content={config.seo.thumbnail} />
    <meta property="og:image:alt" content={config.seo.title} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <ClientRouter />

    <script>
      const root = window.document.documentElement;
      const theme = localStorage.getItem("theme") ?? "system";

      if (theme === "system") {
        const systemTheme = window.matchMedia("(prefers-color-scheme: dark)")
          .matches
          ? "dark"
          : "light";
        root.classList.add(systemTheme);
      } else {
        root.classList.add(theme);
      }
    </script>
  </head>
  <body class="relative min-h-screen">
    <div class="min-h-screen flex flex-col">
      <Navbar
        docs={docs.filter((entry) => {
          // return entry.visibility.includes("navbar");
          return true;
        })}
        client:only
      />
      <slot />
      <Footer client:only />
    </div>
  </body>
</html>
